<ion-content>
  <ion-header class="header-system">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="backHome()">
          <ion-icon slot="icon-only" name="arrow-back-outline" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title class="ion-text-center" style="color: white">{{cliente.nome}}</ion-title>

      <!------carrinho-->
      <ion-buttons slot="end">
        <ion-button fill="clear" size="large" (click)="openCar()">
          <ion-icon slot="icon-only" style="color: white" name="cart-outline"></ion-icon>
          <div style="color: white">{{listaProdutosCarrinho.length}}</div>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!--Lista de Produtos deste Produtor-->

  <div class="food-list">
    <div class="card" *ngFor="let produto of listaProdutos">

      <ion-img [src]="produto?.imageUrl" (click)="openDetalhes(produto)"></ion-img>

      <div class="card-content">
        <h3 class="title">{{produto?.nome}}</h3>
        <h2 class="subtitle">{{produto?.preco|currency:'BRL'}}</h2>

        <ion-buttons slot="start">
          <ion-button (click)="addProdut(produto)">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </div>
    </div>
  </div>

</ion-content>
