<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-icon name="arrow-back-outline" style="color: white; width: 25px;height: 25px"
                      (click)="dismiss()"></ion-icon>
        </ion-buttons>

        <ion-title>Recuperar Senha</ion-title>

    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-grid>
        <ion-item>
            <ion-label position="stacked" style="color: black">CPF ou CNPJ</ion-label>
            <ion-input class="ion-text-lowercase" type="text" name="cpf" [(ngModel)]="usuario.cpfOuCnpj"></ion-input>
        </ion-item>


        <ion-fab vertical="end" horizontal="end" style="padding-top: 6px">
            <ion-fab-button class="button-submit" color="primary" type="submit" (click)="enviarEmail()">
                <ion-spinner name="crescent" *ngIf="isloading"></ion-spinner>
                <ion-icon name="arrow-forward-outline" *ngIf="!isloading"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-grid>

</ion-content>
