<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <ion-content>
      <div style="width: 100vw;text-align: center">
        </div>
    </ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" (click)="Confirmar()">
      Pagar agora!
    </ion-button>
  </ion-toolbar>
</ion-footer>

<script src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"/>
